:root{
    /* Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* Neutral */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /* Font */
    --Main-Font: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.5rem;
    font-family: var(--Main-Font);
    background-color: var(--Very-Light-Gray);
}

.container{
   width: min(95%, 120rem);
   margin: 0 auto;
}

/* Header */
.header{
    text-align: center;
    margin: 7rem 0;
}

.header__title{
    font-weight: 200;
    font-size: 2.5rem;
    color: var(--Very-Dark-Blue);
}

.header__title span{
    font-weight: 600;
    line-height: 2;
}

.header__text{
    font-weight: 200;
    line-height: 1.5;
}

/* Main */
.card{
    color: var(--Very-Dark-Blue);
    padding: 3rem;
    margin-bottom: 3rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0px 15px 24px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 15px 24px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 15px 24px 0px rgba(0,0,0,0.2);
}

.card__title{
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.card__text{
    font-weight: 200;
    line-height: 2;
    margin: 1rem 0 3.5rem 0;
}

.card__icons{
    text-align: right;
}

.card--cyan{
    border-top: .5rem solid var(--Cyan);
}

.card--red{
    border-top: .5rem solid var(--Red);
}

.card--blue{
    border-top: .5rem solid var(--Blue);
}

.card--orange{
    border-top: .5rem solid var(--Orange);
}

/* Query-Desktop */
@media (min-width: 768px){
    .main{
       display: flex;
       justify-content: center;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 3rem;
    }

    .card--cyan{
        grid-row: 1 / 3;
        align-self: center;
    }
    
    .card--blue{
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        align-self: center;
    }
    
    .card--orange{
        grid: 2 / 3;
        grid-column: 2 / 3;
    }
}